<app-header-navbar></app-header-navbar>
<div class="container-fluid dashboard-container">
  <div class="row">
    <div class="col-12 col-lg-2">
      <app-side-navbar></app-side-navbar>
    </div>
    <div class="col-12 col-lg-10">
      <div class="row">
        <div class="col-12 main-container">
          <div class="row big-option-container">
            <div class="desktop-option">
              <div class="col-12">
                <div class="row">
                  <div class="col-3">
                    <button mat-button class="menu-button">
                      <span>Fees > Reminder</span>
                    </button>
                  </div>
                  <div class="col-9" style="text-align: right;">
                    <div class="row">
                      <div class="col-2 offset-8">
                        <ng-container>
                          <mat-form-field class="custom-select">
                            <mat-label *ngIf="cls==0">Class</mat-label>
                            <mat-select [(ngModel)]="cls" (selectionChange)="chooseClass($event.value)" type="number"
                              matInput>
                              <mat-option *ngFor="let cls of classInfo" [value]="cls">{{cls | classSuffix}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </ng-container>
                      </div>
                      <div class="col-2">
                        <button class="submit-button" mat-raised-button
                          (click)="addStudentModel()"><mat-icon>add</mat-icon>Create</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mobile-option">
              <div class="col-12">
                <div class="row">
                  <div class="col-3">
                    <button mat-button class="menu-button">
                      <span>Fees > Reminder</span>
                    </button>
                  </div>
                  <div class="col-5 offset-4">
                    <button class="submit-button" mat-raised-button
                      (click)="addStudentModel()"><mat-icon>add</mat-icon>Create</button>
                  </div>
                  <div class="col-12">
                    <mat-form-field class="custom-select">
                      <mat-label *ngIf="cls==0">Class</mat-label>
                      <mat-select [(ngModel)]="cls" (selectionChange)="chooseClass($event.value)" type="number"
                        matInput>
                        <mat-option *ngFor="let cls of classInfo" [value]="cls">{{cls | classSuffix}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-container">
          <div class="col-12 col-lg-12 big-container">
            <div class="main-card">
              <div class="table-wrapper">
                <table class="table table-hover align-middle bg-white">
                  <thead class="bg-light">
                    <tr class="text-muted">
                      <th>S.No.</th>
                      <th>Class</th>
                      <th>Payment Below (%)</th>
                      <th>No Payment Since</th>
                      <th>Gap Since Last Reminder</th>
                      <!-- <th>Created On</th> -->
                      <th>Fee Reminder</th>
                      <th>Remove</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let reminderFilter of reminderFilterList,let i=index">
                    <tr>
                      <td>
                        <p class="mb-0">{{i+1}}</p>
                      </td>
                      <td>{{reminderFilter.class | classSuffix}}</td>
                      <td><span *ngIf="reminderFilter.minPercentage!==0">Less Then {{reminderFilter.minPercentage}}%
                          Paid</span><span *ngIf="reminderFilter.minPercentage==0">No Filter</span></td>
                      <td><span *ngIf="reminderFilter.lastPaymentDays!==0">Last {{reminderFilter.lastPaymentDays}}+
                          Days</span><span *ngIf="reminderFilter.lastPaymentDays==0">No Filter</span></td>
                      <td><span *ngIf="reminderFilter.lastReminderDays!==0">{{reminderFilter.lastReminderDays}}
                          Days</span><span *ngIf="reminderFilter.lastReminderDays==0">No Filter</span></td>
                      <!-- <td>12 Aug 2025</td> -->
                      <td>
                        <button class="submit-success-button" mat-raised-button [disabled]="isFilterClick"
                          (click)="studentFilterBySavedFilter(reminderFilter)">
                          <span *ngIf="isFilterClick" class="submitting-content">
                            <mat-spinner diameter="20" class="button-loader"></mat-spinner>
                          </span>
                          <i class=" bi bi-send-fill"></i>
                          To Send
                        </button>
                      </td>
                      <td class="mb-0">
                        <mat-icon (click)="deleteReminderFilterModel(reminderFilter._id)">delete</mat-icon>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- <ng-container *ngIf="reminderFilterList.length==0">
                <h2 style="text-align: center;margin-top: 150px;color:#39206641;">No Record Found</h2>
              </ng-container> -->
              <div class="modal fade show" [class.show]="showModal">
                <div class="modal-dialog modal-dialog-scrollable" [class.modal-lg]="true">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">SEND FEE REMINDER</h5>
                      <mat-icon matRipple (click)="closeModal()" class="close-icon">close</mat-icon>
                    </div>
                    <ng-container *ngIf="!filterStatus">
                      <form [formGroup]="studentFilterForm" (ngSubmit)="studentFilter()">
                        <div class="modal-body">
                          <div class="container">
                            <div class="row">
                              <div class="col-12 col-lg-6">
                                <mat-form-field appearance="outline">
                                  <mat-label>Class</mat-label>
                                  <mat-select matInput formControlName="class">
                                    <div *ngFor="let class of classInfo">
                                      <mat-option value="{{class}}">{{class |
                                        classSuffix}}</mat-option>
                                    </div>
                                  </mat-select>
                                  <mat-error
                                    *ngIf="studentFilterForm.get('class')?.hasError('required') && studentFilterForm.get('class')?.touched">
                                    Class is required
                                  </mat-error>
                                  <mat-error
                                    *ngIf="studentFilterForm.get('class')?.hasError('pattern') && studentFilterForm.get('class')?.touched">
                                    Please enter a valid class (numeric characters only)
                                  </mat-error>
                                </mat-form-field>
                              </div>
                              <div class="col-12 col-lg-6">
                                <mat-form-field appearance="outline">
                                  <mat-label>Payment Below (%)</mat-label>
                                  <mat-select formControlName="minPercentage">
                                    <mat-option *ngFor="let percent of [0,10, 20, 30, 40, 50, 60, 70, 80, 90, 100]"
                                      [value]="percent">
                                      <span *ngIf="percent==0">No Filter</span>
                                      <span *ngIf="percent>0">Less Then {{ percent }}% Paid</span>
                                    </mat-option>
                                  </mat-select>
                                  <mat-error
                                    *ngIf="studentFilterForm.get('minPercentage')?.hasError('required') && studentFilterForm.get('minPercentage')?.touched">
                                    Payment below (%) is required
                                  </mat-error>
                                  <mat-error
                                    *ngIf="studentFilterForm.get('minPercentage')?.hasError('pattern') && studentFilterForm.get('minPercentage')?.touched">
                                    Please enter a valid in payment below (%) (numeric characters only)
                                  </mat-error>
                                </mat-form-field>
                              </div>

                              <div class="col-12 col-lg-6">
                                <mat-form-field appearance="outline">
                                  <mat-label>No Payment Since</mat-label>
                                  <mat-select formControlName="lastPaymentDays">
                                    <mat-option
                                      *ngFor="let day of [0,7, 15, 30, 45, 60, 90,120,150,180,210,240,270,300,330,365 ]"
                                      [value]="day">
                                      <span *ngIf="day<1 && day==0">No Filter</span>
                                      <span *ngIf="day<=60 && day!==0">Last: {{ day }}+ Days</span>
                                      <span *ngIf="day>60 && day!==365">Last: {{ day/30 }}+ Months</span>
                                      <span *ngIf="day==365">Last: 12+ Months</span>
                                    </mat-option>
                                  </mat-select>
                                  <mat-error
                                    *ngIf="studentFilterForm.get('lastPaymentDays')?.hasError('required') && studentFilterForm.get('lastPaymentDays')?.touched">
                                    No payment since is required
                                  </mat-error>
                                  <mat-error
                                    *ngIf="studentFilterForm.get('lastPaymentDays')?.hasError('pattern') && studentFilterForm.get('lastPaymentDays')?.touched">
                                    Please enter a valid no payment since (numeric characters only)
                                  </mat-error>
                                </mat-form-field>
                              </div>

                              <div class="col-12 col-lg-6">
                                <mat-form-field appearance="outline">
                                  <mat-label>Gap Since Last Reminder</mat-label>
                                  <mat-select formControlName="lastReminderDays">
                                    <mat-option *ngFor="let reminder of [0,7, 15, 30, 45, 60, 90]" [value]="reminder">
                                      <span *ngIf="reminder==0">No Filter</span>
                                      <span *ngIf="reminder>0">{{ reminder }} Day</span>

                                    </mat-option>
                                  </mat-select>
                                  <mat-error
                                    *ngIf="studentFilterForm.get('lastReminderDays')?.hasError('required') && studentFilterForm.get('lastReminderDays')?.touched">
                                    Gap since last reminder is required
                                  </mat-error>
                                  <mat-error
                                    *ngIf="studentFilterForm.get('lastReminderDays')?.hasError('pattern') && studentFilterForm.get('lastReminderDays')?.touched">
                                    Please enter a valid gap since last reminder (numeric characters only)
                                  </mat-error>
                                </mat-form-field>
                              </div>
                              <div class="col-12 col-lg-6">
                                <mat-form-field appearance="outline">
                                  <mat-label>Payment Last Date (dd/mm/yyyy)</mat-label>
                                  <input matInput readonly [matDatepicker]="pickers"
                                    formControlName="paymentLastDate" />
                                  <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
                                  <mat-datepicker #pickers></mat-datepicker>
                                  <mat-error
                                    *ngIf="studentFilterForm.get('paymentLastDate')?.hasError('required') && studentFilterForm.get('paymentLastDate')?.touched">
                                    Payment last date is required
                                  </mat-error>
                                </mat-form-field>
                              </div>
                              <div class="col-12 col-lg-6">
                                <mat-form-field appearance="outline">
                                  <mat-label>Reminder Type</mat-label>
                                  <input matInput type="text" value="Whatsapp Fee Reminder" readonly
                                    style="color: #6d6d6d;">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="modal-footer">
                          <button class="submit-button" mat-raised-button type="submit"
                            [disabled]="!studentFilterForm.valid || isFilterClick">
                            <span *ngIf="isFilterClick" class="submitting-content">
                              <mat-spinner diameter="20" class="button-loader"></mat-spinner>
                            </span>
                            <mat-icon>filter_list</mat-icon>
                            Choose Filters
                          </button>
                        </div>
                      </form>
                    </ng-container>

                    <ng-container *ngIf="filterStatus">
                      <div class="modal-body">
                        <div class="container">
                          <div class="row">
                            <div class="col-12">
                              <div class="table-wrapper" style="max-height: 380px; overflow-y: auto;">
                                <table class="table table-hover align-middle bg-white">
                                  <thead class="bg-light" *ngIf="studentFilterData.length !== 0">
                                    <tr class="text-muted">
                                      <th>
                                        <mat-checkbox [checked]="isAllSelected"
                                          (change)="toggleAllSelection($event.checked)">
                                        </mat-checkbox>
                                      </th>
                                      <th>S.No.</th>
                                      <th>Mobile</th>
                                      <th>Student Name</th>
                                      <th>Father Name</th>
                                      <th>Mother Name</th>
                                      <th>Paid Fee In (%)</th>
                                      <th>Paid Fee</th>
                                      <th>Due Fee</th>
                                      <th>Total Fee</th>
                                      <th>DOB</th>
                                      <th>Admission No.</th>
                                    </tr>
                                  </thead>

                                  <tbody *ngIf="studentFilterData && studentFilterData.length > 0">
                                    <tr *ngFor="let s of studentFilterData; let i = index">
                                      <td>
                                        <mat-checkbox [checked]="selectedIds.includes(s.studentId)"
                                          (change)="toggleSelection(s.studentId, $event.checked)"></mat-checkbox>
                                      </td>
                                      <td>{{ i + 1 }}</td>
                                      <td>{{ s.parentsContact }}</td>
                                      <td>{{ s.name | titlecase }}</td>
                                      <td>{{ s.fatherName | titlecase }}</td>
                                      <td>{{ s.motherName | titlecase }}</td>
                                      <td>{{ s.paidPercentage}}%</td>
                                      <td>&#8377; {{ s.paidAmount}}</td>
                                      <td>&#8377; {{ s.pendingAmount}}</td>
                                      <td>&#8377; {{ s.totalFees}}</td>
                                      <td>{{ s.dob }}</td>
                                      <td>{{ s.admissionNo }}</td>
                                    </tr>
                                  </tbody>

                                  <tbody *ngIf="studentFilterData.length === 0">
                                    <tr>
                                      <td colspan="10" class="text-center text-muted">No students match the applied
                                        filters.</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="modal-footer">
                        <mat-checkbox class="mb-2" [checked]="sendLaterChecked"
                          (change)="toggleSendLater($event.checked)" *ngIf="!hideButton">
                          Select the checkbox to save filters
                        </mat-checkbox>
                        <div>
                          <!-- Save Filters -->
                          <button class="submit-button" mat-raised-button type="button" style="margin-left: 20px;"
                            [disabled]="!sendLaterChecked || isSaveFiltersClick" (click)="feeReminderLaterSend()"
                            *ngIf="!hideButton">
                            <span *ngIf="isSaveFiltersClick" class="submitting-content">
                              <mat-spinner diameter="20" class="button-loader"></mat-spinner>
                            </span>
                            <mat-icon>timer</mat-icon>
                            Save Filters
                          </button>
                          <!-- Send Now -->
                          <button class="submit-success-button" mat-raised-button type="button"
                            style="margin-left: 20px;" [disabled]="!selectedIds.length || isSendNowClick"
                            (click)="feeReminderSend()">
                            <span *ngIf="isSendNowClick" class="submitting-content">
                              <mat-spinner diameter="20" class="button-loader"></mat-spinner>
                            </span>
                            <i class="bi bi-send-fill"></i>
                            Send Now
                          </button>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>

              <div class="modal fade show" [class.show]="showReminderFilterDeleteModal">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">DELETE REMINDER FILTER</h5>
                      <mat-icon matRipple (click)="closeModal()">close</mat-icon>
                    </div>
                    <div class="modal-body">
                      <div>
                        <h4 style="margin-left: 20px;">To delete reminder filter detail, click ok to confirm.</h4>
                        <div class="modal-footer">
                          <button class="delete-button" mat-raised-button type="button" [disabled]="isDeleteClick"
                            (click)="reminderFilterDelete(deleteById)">
                            <span *ngIf="isDeleteClick" class="submitting-content">
                              <mat-spinner diameter="20" class="button-loader"></mat-spinner>
                            </span>
                            Ok
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>