<mat-toolbar class="side-navbar">
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <button mat-button class="menu-button" routerLink="/teacher/dashboard" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact:true}">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard </span>
      </button>
    </li>
    <li class="nav-item">
      <button *ngIf="admissionPermission" mat-button class="menu-button" routerLink="/teacher/admission" routerLinkActive="active-link">
        <mat-icon>dialpad</mat-icon>
        <span>Admission</span>
      </button>
      <button *ngIf="!admissionPermission" mat-button class="menu-button">
        <mat-icon>lock</mat-icon>
        <span>Admission</span>
      </button>
    </li> 
    <li class="nav-item">
      <button *ngIf="studentPermission" mat-button class="menu-button" routerLink="/teacher/student" routerLinkActive="active-link">
        <mat-icon>person_add</mat-icon>
        <span>Student</span>
      </button>
      <button *ngIf="!studentPermission" mat-button class="menu-button">
        <mat-icon>lock</mat-icon>
        <span>Student</span>
      </button>
    </li>
    <li class="nav-item">
      <button *ngIf="feeCollectionPermission" mat-button class="menu-button" routerLink="/teacher/fees" routerLinkActive="active-link">
        <mat-icon>currency_rupee</mat-icon>
        <span>Fees</span>
      </button>
      <button *ngIf="!feeCollectionPermission" mat-button class="menu-button">
        <mat-icon>lock</mat-icon>
        <span>Fees</span>
      </button>
    </li>
    <li class="nav-item">
      <button *ngIf="admitCardPermission" mat-button class="menu-button" routerLink="/teacher/admit-card" routerLinkActive="active-link">
        <mat-icon>assignment</mat-icon>
        <span>Admit Card</span>
      </button>
      <button *ngIf="!admitCardPermission" mat-button class="menu-button">
        <mat-icon>lock</mat-icon>
        <span>Admit Card</span>
      </button>
    </li>
    <li class="nav-item">
      <button *ngIf="marksheetPermission" mat-button class="menu-button" routerLink="/teacher/marksheet" routerLinkActive="active-link">
        <mat-icon>content_paste_search</mat-icon>
        <span>Marksheet</span>
      </button>
      <button *ngIf="!marksheetPermission" mat-button class="menu-button">
        <mat-icon>lock</mat-icon>
        <span>Marksheet</span>
      </button>
    </li>
    <li class="nav-item">
      <button *ngIf="promoteFailPermission" mat-button class="menu-button" routerLink="/teacher/promote-fail" routerLinkActive="active-link">
        <mat-icon>person_add</mat-icon>
        <span>Class Promote</span>
      </button>
      <button *ngIf="!promoteFailPermission" mat-button class="menu-button">
        <mat-icon>lock</mat-icon>
        <span>Class Promote</span>
      </button>
    </li>
    <li class="nav-item">
      <button *ngIf="transferCertificatePermission" mat-button class="menu-button" routerLink="/teacher/transfer-certificate" routerLinkActive="active-link">
        <mat-icon>workspace_premium</mat-icon>
        <span>Transfer Certificate</span>
      </button>
      <button *ngIf="!transferCertificatePermission" mat-button class="menu-button">
        <mat-icon>lock</mat-icon>
        <span>Transfer Certificate</span>
      </button>
    </li>
  </ul>
</mat-toolbar>