<app-header></app-header>
<div class="page">
  <div class="banner">
    <div class="container-fluid">
      <div class="col-12 offset-0 col-lg-6 offset-lg-3">
        <h2>Refund & Cancellation</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid policy-container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 title">
        <h3>Our Refund and Cancellation Terms</h3>
      </div>
      <div class="col-12 offset-0 col-lg-10 offset-lg-1 content-container">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-1 icon-container"><mat-icon>star</mat-icon></div>
              <div class="col-11 heading-container">
                <h3>Refund Policys</h3>
                <p>As a valued customer, please be advised that all payments made for Schoolzen services are final. Once enrollment is completed, we do not offer refunds. We encourage you to carefully review your purchase decision prior to finalizing your transaction. Our services are classified as non-tangible and irrevocable digital products, and as such, refunds are not applicable.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-1 icon-container"><mat-icon>star</mat-icon></div>
              <div class="col-11 heading-container">
                <h3>Cancellation Policy</h3>
                <p>Due to the nature of our services as digital and non-tangible goods, cancellations are not permitted once enrollment is processed. We recommend thoroughly evaluating your needs and our service offerings before completing your enrollment to ensure satisfaction.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-1 icon-container"><mat-icon>star</mat-icon></div>
              <div class="col-11 heading-container">
                <h3>Acceptance of Policy</h3>
                <p>By proceeding with the enrollment in Schoolzen services, you acknowledge and accept that our goods are non-tangible, irrevocable, and that our no-refund and no-cancellation policy applies. Your completion of the enrollment process indicates your understanding and acceptance of these terms.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>