<!-- The references' View Profile markup (.view-header / .view-section-title / .view-grid). -->
<ng-container *ngIf="detail">
  <div class="view-header">
    <div class="view-photo" [style.background]="photoUrl ? null : gradient">
      <img *ngIf="photoUrl; else initialsTpl" [src]="photoUrl" alt="" />
      <ng-template #initialsTpl>{{ initials }}</ng-template>
    </div>
    <div>
      <div class="view-header-name">{{ name }}</div>
      <div class="view-header-meta">{{ meta }}</div>
    </div>
  </div>

  <ng-container *ngFor="let section of sections; trackBy: trackByTitle">
    <div class="view-section-title">{{ section.title }}</div>
    <div class="view-grid">
      <div class="view-item" *ngFor="let item of section.items; trackBy: trackByLabel" [class.full]="item.full">
        <label>{{ item.label }}</label>
        <div>{{ item.value }}</div>
      </div>
    </div>
  </ng-container>
</ng-container>
