<app-header></app-header>
<div class="page">
  <div class="banner">
    <div class="container-fluid">
      <div class="col-12 offset-0 col-lg-6 offset-lg-3">
        <h2>Contact Us</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid policy-container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 title">
        <h3>How to Contact Us</h3>
        <p style="text-align: center;">We’re here to help with any questions or support you might need.</p>
      </div>
      <div class="col-11 offset-1 offset-0 col-lg-10 offset-lg-1 content-container">
        <div class="row">
          <div class="col-12 heading-container">
            <h3>Get in Touch</h3>
            <div class="row">
              <div class="col-12 mt-3">
                <p><span>Contact</span>- 9893830679</p>
                <p><span>Email</span>- info@schoolzen.in</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>