<app-header-navbar></app-header-navbar>
<div class="container-fluid dashboard-container">
  <div class="row">
    <div class="col-12 col-lg-2">
      <app-side-navbar></app-side-navbar>
    </div>
    <div class="col-12 col-lg-10">
      <div class="row">
        <div class="col-12 main-container">
          <div class="row big-option-container">
            <div class="desktop-option">
              <div class="col-12">
                <div class="row">
                  <div class="col-3">
                    <button mat-button class="menu-button">
                      <span>School Profile</span>
                    </button>
                  </div>
                  <div class="col-9" style="text-align: right;">
                    <div class="row">
                      <div class="col-2 offset-10">
                        <button class="submit-button" mat-raised-button
                          (click)="addSchoolModel()"><mat-icon>add</mat-icon>Create</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mobile-option">
              <div class="col-12">
                <div class="row">
                  <div class="col-3">
                    <button mat-button class="menu-button">
                      <span>School Profile</span>
                    </button>
                  </div>
                  <div class="col-5 offset-4"><button class="submit-button" mat-raised-button
                      (click)="addSchoolModel()"><mat-icon>add</mat-icon>Create</button></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-container">
          <div class="col-12 col-lg-12 big-container">
            <div class="main-card">
              <div class="table-wrapper">
                <table class="table align-middle bg-white">
                  <thead class="bg-light">
                    <tr class="text-muted">
                      <th>S.No.</th>
                      <th>School Id</th>
                      <th>Logo</th>
                      <th>School Name</th>
                      <th>Affiliation Number</th>
                      <th>School Code</th>
                      <th>Founded Year</th>
                      <th>Board</th>
                      <th>Medium</th>
                      <th>Street</th>
                      <th>City/Town</th>
                      <th>District</th>
                      <th>State</th>
                      <th>Country</th>
                      <th>Pin Code</th>
                      <th>Contact Number</th>
                      <th>Alternate Number</th>
                      <th>Email</th>
                      <th>Edit</th>
                      <th>Remove</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="schoolInfo">
                    <tr>
                      <td>
                        <p class="mb-0">1</p>
                      </td>
                      <td>
                        <p class="mb-0">{{schoolInfo?.schoolId}}</p>
                      </td>
                      <td>
                        <ng-container *ngIf="schoolInfo.schoolLogo"><img src="{{schoolInfo?.schoolLogo}}"
                            alt="school logo" height="50" loading="lazy" /></ng-container>
                        <ng-container *ngIf="!schoolInfo.schoolLogo"><img src="./assets/no-image.png"
                            loading="lazy" /></ng-container>
                      </td>
                      <td>
                        <p class="mb-0">{{schoolInfo?.schoolName | titlecase}}</p>
                      </td>
                      <td>
                        <p class="mb-0">{{schoolInfo?.affiliationNumber}}</p>
                      </td>
                      <td>
                        <p class="mb-0">{{schoolInfo?.schoolCode}}</p>
                      </td>
                      <td>
                        <p class="mb-0">{{schoolInfo?.foundedYear}}</p>
                      </td>
                      <td>
                        <p class="mb-0">{{schoolInfo?.board | titlecase}}</p>
                      </td>
                      <td>
                        <p class="mb-0">{{schoolInfo?.medium | titlecase}}</p>
                      </td>
                      <td>
                        <p class="mb-0">{{schoolInfo?.street | titlecase}}</p>
                      </td>
                      <td>
                        <p class="mb-0">{{schoolInfo?.city | titlecase}}</p>
                      </td>
                      <td>
                        <p class="mb-0">{{schoolInfo?.district | titlecase}}</p>
                      </td>
                      <td>
                        <p class="mb-0">{{schoolInfo?.state | titlecase}}</p>
                      </td>
                      <td>
                        <p class="mb-0">{{schoolInfo?.country | titlecase}}</p>
                      </td>
                      <td>
                        <p class="mb-0">{{schoolInfo?.pinCode}}</p>
                      </td>
                      <td>
                        <p class="mb-0">{{schoolInfo?.phoneOne}}</p>
                      </td>
                      <td>
                        <p class="mb-0">{{schoolInfo?.phoneSecond}}</p>
                      </td>
                      <td>
                        <p class="mb-0">{{schoolInfo?.email}}</p>
                      </td>
                      <td class="mb-0">
                        <mat-icon (click)="updateSchoolModel(schoolInfo)">edit</mat-icon>
                      </td>
                      <td class="mb-0">
                        <!-- <mat-icon (click)="updateSchoolModel(schoolInfo)">edit</mat-icon> -->
                        <mat-icon (click)="deleteSchoolModel(schoolInfo?._id)">delete</mat-icon>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <div class="modal fade show" [class.show]="showModal">
                <div class="modal-dialog modal-dialog-scrollable" [class.modal-lg]="!deleteMode">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">{{updateMode?'UPDATE': deleteMode ? 'DELETE' :'CREATE'}} SCHOOL</h5>
                      <mat-icon matRipple (click)="closeModal()">close</mat-icon>
                    </div>

                    <form [formGroup]="schoolForm" (ngSubmit)="schoolAddUpdate()">
                      <div class="modal-body" *ngIf="!deleteMode">

                        <div *ngIf="errorCheck && !updateMode">
                          <p class="error-message">{{errorMsg}}</p>
                        </div>

                        <div class="container">

                          <div class="row">
                            <ng-container>
                              <h3>School Info</h3>
                            </ng-container>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>School Name</mat-label>
                                <input matInput type="text" formControlName="schoolName">
                                <mat-error
                                  *ngIf="schoolForm.get('schoolName')?.hasError('required') && schoolForm.get('schoolName')?.touched">
                                  School name is required
                                </mat-error>
                                <mat-error *ngIf="schoolForm.get('schoolName')?.hasError('maxlength')">
                                  Maximum 50 characters allowed for School Name
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Upload School Logo (Upto 100KB)</mat-label>
                                <ngx-mat-file-input formControlName="schoolLogo">
                                  <mat-icon ngxMatFileInputIcon style="color: #8d6dff;">cloud_upload</mat-icon>
                                </ngx-mat-file-input>
                              </mat-form-field>
                            </div>

                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Affiliation Number</mat-label>
                                <input matInput type="text" formControlName="affiliationNumber">
                                <mat-error
                                  *ngIf="schoolForm.get('affiliationNumber')?.hasError('required') && schoolForm.get('affiliationNumber')?.touched">
                                  Affiliation number is required
                                </mat-error>
                                <mat-error *ngIf="schoolForm.get('affiliationNumber')?.hasError('pattern')">
                                  Maximum 15 characters allowed for affiliation number
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>School Code</mat-label>
                                <input matInput type="text" formControlName="schoolCode">
                                <mat-error
                                  *ngIf="schoolForm.get('schoolCode')?.hasError('required') && schoolForm.get('schoolCode')?.touched">
                                  School code is required
                                </mat-error>
                                <mat-error *ngIf="schoolForm.get('schoolCode')?.hasError('maxlength')">
                                  Maximum 15 characters allowed for School Code
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Founded Year</mat-label>
                                <input matInput type="text" formControlName="foundedYear">
                                <mat-error
                                  *ngIf="schoolForm.get('foundedYear')?.hasError('required') && schoolForm.get('foundedYear')?.touched">
                                  Founded year is required
                                </mat-error>
                                <mat-error *ngIf="schoolForm.get('foundedYear')?.hasError('pattern')">
                                  Invalid founded year format. Use a four-digit year starting with '19' or '20'
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Affiliated Board</mat-label>
                                <mat-select matInput type="text" formControlName="board" panelClass="long-option-panel">
                                  <div *ngFor="let board of boardInfo,let i = index">
                                    <mat-option value="{{board.boardNameByState}}">{{board.boardsName}}
                                      ({{board.boardsShortName}})</mat-option>
                                  </div>
                                </mat-select>
                                <mat-error
                                  *ngIf="schoolForm.get('board')?.hasError('required') && schoolForm.get('board')?.touched">
                                  Affiliated board is required
                                </mat-error>
                                <mat-error *ngIf="schoolForm.get('board')?.hasError('maxlength')">
                                  Maximum 50 characters allowed for Affiliated board
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Medium</mat-label>
                                <mat-select type="text" matInput formControlName="medium">
                                  <div *ngFor="let medium of mediums">
                                    <mat-option value="{{medium.medium}}">{{medium.medium}}</mat-option>
                                  </div>
                                </mat-select>
                                <mat-error
                                  *ngIf="schoolForm.get('medium')?.hasError('required') && schoolForm.get('medium')?.touched">
                                  Medium is required
                                </mat-error>
                                <mat-error *ngIf="schoolForm.get('medium')?.hasError('maxlength')">
                                  Maximum 50 characters allowed for Medium
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <ng-container>
                              <h3>School Address</h3>
                            </ng-container>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Street</mat-label>
                                <input matInput type="text" formControlName="street">
                                <mat-error
                                  *ngIf="schoolForm.get('street')?.hasError('required') && schoolForm.get('street')?.touched">
                                  Street is required
                                </mat-error>
                                <mat-error *ngIf="schoolForm.get('street')?.hasError('maxlength')">
                                  Maximum 100 characters allowed for Street
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>City/Town</mat-label>
                                <input matInput type="text" formControlName="city">
                                <mat-error
                                  *ngIf="schoolForm.get('city')?.hasError('required') && schoolForm.get('city')?.touched">
                                  City/Town is required
                                </mat-error>
                                <mat-error *ngIf="schoolForm.get('city')?.hasError('maxlength')">
                                  Maximum 50 characters allowed for city/town
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>District</mat-label>
                                <input matInput type="text" formControlName="district">
                                <mat-error
                                  *ngIf="schoolForm.get('district')?.hasError('required') && schoolForm.get('district')?.touched">
                                  District is required
                                </mat-error>
                                <mat-error *ngIf="schoolForm.get('district')?.hasError('maxlength')">
                                  Maximum 50 characters allowed for district
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>State</mat-label>
                                <mat-select type="text" matInput formControlName="state">
                                  <div *ngFor="let state of indianStates">
                                    <mat-option value="{{state}}">{{state}}</mat-option>
                                  </div>
                                </mat-select>
                                <mat-error
                                  *ngIf="schoolForm.get('state')?.hasError('required') && schoolForm.get('state')?.touched">
                                  State is required
                                </mat-error>
                                <mat-error *ngIf="schoolForm.get('state')?.hasError('maxlength')">
                                  Maximum 50 characters allowed for State
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Pin Code</mat-label>
                                <input matInput type="text" formControlName="pinCode">
                                <mat-error
                                  *ngIf="schoolForm.get('pinCode')?.hasError('required') && schoolForm.get('pinCode')?.touched">
                                  Pin code is required
                                </mat-error>
                                <mat-error *ngIf="schoolForm.get('pinCode')?.hasError('pattern')">
                                  Invalid postal code format. Use a 6-digit code.
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <ng-container>
                              <h3>School Contact Details</h3>
                            </ng-container>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Contact Number</mat-label>
                                <input matInput type="text" formControlName="phoneOne" class="no-arrow">
                                <mat-error
                                  *ngIf="schoolForm.get('phoneOne')?.hasError('required') && schoolForm.get('phoneOne')?.touched">
                                  Contact number is required
                                </mat-error>
                                <mat-error *ngIf="schoolForm.get('phoneOne')?.hasError('minlength')">
                                  Contact number must be at least 10 characters long
                                </mat-error>
                                <mat-error *ngIf="schoolForm.get('phoneOne')?.hasError('maxlength')">
                                  Contact number cannot be more than 10 characters long
                                </mat-error>
                                <mat-error *ngIf="schoolForm.get('phoneOne')?.hasError('pattern')">
                                  Contact number must contain only digits
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Alternate Number</mat-label>
                                <input matInput type="text" inputmode="numeric" formControlName="phoneSecond"
                                  class="no-arrow">
                                <mat-error *ngIf="schoolForm.get('phoneSecond')?.hasError('minlength')">
                                  Alternate number must be at least 10 characters long
                                </mat-error>
                                <mat-error *ngIf="schoolForm.get('phoneSecond')?.hasError('maxlength')">
                                  Alternate number cannot be more than 10 characters long
                                </mat-error>
                                <mat-error *ngIf="schoolForm.get('phoneSecond')?.hasError('pattern')">
                                  Alternate number must contain only digits
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput type="text" formControlName="email">
                                <mat-error
                                  *ngIf="schoolForm.get('email')?.hasError('required') && schoolForm.get('email')?.touched">
                                  Email is required
                                </mat-error>
                                <mat-error *ngIf="schoolForm.get('email')?.hasError('email')">
                                  Invalid email format
                                </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="modal-footer" *ngIf="!deleteMode">
                        <button class="submit-button" mat-raised-button type="submit"
                          [disabled]="!schoolForm.valid || isClick">
                          <span *ngIf="isClick" class="submitting-content">
                            <mat-spinner diameter="20" class="button-loader"></mat-spinner>
                          </span>
                          Submit
                        </button>
                      </div>
                      <div *ngIf="deleteMode">
                        <div class="modal-body">
                          <h3 style="margin-left: 20px;">To delete school detail, click ok to confirm.</h3>
                        </div>
                        <div class="modal-footer">
                          <button class="delete-button" mat-raised-button type="button"
                            (click)="schoolDelete(deleteById)" [disabled]="isClick">
                            <span *ngIf="isClick" class="submitting-content">
                              <mat-spinner diameter="20" class="button-loader"></mat-spinner>
                            </span>
                            Ok
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="spinner-container" *ngIf="loader">
    <div class="spinner-overlay" *ngIf="loader">
      <mat-progress-spinner *ngIf="loader" diameter="65" mode="indeterminate" strokeWidth="3"></mat-progress-spinner>
    </div>
  </div> -->