<mat-toolbar class="header">
  <div class="col-2 col-lg-1" class="logo" style="margin-left: 0px;">
    <img src="../../../assets/logo.png" alt="" routerLink="/" style="cursor: pointer;">
  </div>
  <div class="hamburger col-2 col-lg-0">
    <button mat-icon-button>
      <svg *ngIf="!nav" class="hamburger-icon" (click)="hamburgerMenu(nav)" xmlns="http://www.w3.org/2000/svg"
        width="24" height="24" viewBox="0 0 25 25">
        <rect x="0" y="4" width="26" height="2" />
        <rect x="0" y="12" width="18" height="2" />
        <rect x="0" y="20" width="26" height="2" />
      </svg>
      <mat-icon *ngIf="nav" class="close-icon"
        style="font-size: 30px !important;margin-top: 5px !important;margin-left: -10px !important;"
        (click)="hamburgerMenu(nav)">close</mat-icon>
    </button>
  </div>
  <div class="main-menu col-lg-5" style="text-align: right;margin-right: -250px;">
    <button class="submit-button" mat-raised-button [routerLink]="['/admin/upgrade-plan']">
      <!-- <mat-icon>logout</mat-icon> -->
      <span>UPGRADE PLAN</span>
    </button>
  </div>
  <div class="main-menu col-lg-1" style="text-align: right;margin-right: -150px;">
    <div
      style="background: radial-gradient(circle, #fff, #d0cdff);border-radius: 50%;width: 52px;height: 52px;padding: 4px;cursor: pointer;border:1px solid #d5d0e1;"
      [matMenuTriggerFor]="ourSystemMenu">
      <img src="{{schoolInfo?.schoolLogo}}" style="position: relative;width: 100%;">
    </div>
  </div>
  <mat-menu #ourSystemMenu="matMenu">
    <button mat-menu-item [routerLink]="['/admin/school/detail']">
      <mat-icon>account_balance</mat-icon>
      <span>School Profile</span>
    </button>
    <button mat-menu-item *ngIf="isAdminAuthenticated" (click)="onLogout('admin')">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>

</mat-toolbar>
<div [ngClass]="{'top-hamburger-menu' : false==nav}">
  <mat-toolbar class="hamburger-menu" style="position: absolute !important;z-index: 1;">
    <button mat-menu-item [routerLink]="['/admin/dashboard']" routerLinkActive="active-link"
      (click)="hamburgerMenu(true)">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </button>
    <button mat-menu-item class="menu-button" [routerLink]="['/admin/school/detail']" routerLinkActive="active-link">
      <mat-icon>account_balance</mat-icon>
      <span>School Profile</span>
    </button>
    <button mat-menu-item class="menu-button" [routerLink]="['/admin/admission']" routerLinkActive="active-link">
      <mat-icon>dialpad</mat-icon>
      <span>Admission</span>
    </button>
    <button mat-menu-item class="menu-button" [routerLink]="['/admin/student']" routerLinkActive="active-link">
      <mat-icon>person_add</mat-icon>
      <span>Student</span>
    </button>
    <button mat-menu-item class="menu-button" routerLink="/admin/fees" routerLinkActive="active-link">
      <mat-icon>currency_rupee</mat-icon>
      <span>Fees</span>
    </button>
    <button mat-menu-item class="menu-button" routerLink="/admin/id-card" routerLinkActive="active-link">
      <mat-icon>book</mat-icon>
      <span>Id Card</span>
    </button>
    <button mat-menu-item class="menu-button" routerLink="/admin/admit-card" routerLinkActive="active-link">
      <mat-icon>assignment</mat-icon>
      <span>Admit Card</span>
    </button>
    <button mat-menu-item class="menu-button" [routerLink]="['/admin/marksheet']" routerLinkActive="active-link">
      <mat-icon>content_paste_search</mat-icon>
      <span>Marksheet</span>
    </button>
    <button mat-menu-item class="menu-button" [routerLink]="['/admin/promote-fail']" routerLinkActive="active-link">
      <mat-icon>person_add</mat-icon>
      <span>Class Promote</span>
    </button>
    <button mat-menu-item class="menu-button" routerLink="/admin/transfer-certificate" routerLinkActive="active-link">
      <mat-icon>workspace_premium</mat-icon>
      <span>Transfer Certificate</span>
    </button>
    <button mat-menu-item class="menu-button" [routerLink]="['/admin/teacher']" routerLinkActive="active-link">
      <mat-icon>manage_accounts</mat-icon>
      <span>Teacher</span>
    </button>
    <!-- <button mat-menu-item class="menu-button" [routerLink]="['/admin/class']" routerLinkActive="active-link">
      <mat-icon>note_add</mat-icon>
      <span>Classes</span>
    </button> -->
    <button mat-menu-item class="menu-button" [routerLink]="['/admin/subject']" routerLinkActive="active-link">
      <mat-icon>menu_book</mat-icon>
      <span>Subject</span>
    </button>
    <button mat-menu-item class="menu-button" [routerLink]="['/admin/class-subject']" routerLinkActive="active-link">
      <mat-icon>local_library</mat-icon>
      <span>Class With Subjects</span>
    </button>
    <!-- <button mat-menu-item class="menu-button" [routerLink]="['/admin/banner']" routerLinkActive="active-link">
      <mat-icon>wallpaper</mat-icon>
      <span>Banners</span>
    </button>
    <button mat-menu-item class="menu-button" [routerLink]="['/admin/topper']" routerLinkActive="active-link">
      <mat-icon>school</mat-icon>
      <span>Toppers</span>
    </button>
    <button mat-menu-item class="menu-button" [routerLink]="['/admin/testimonial']" routerLinkActive="active-link">
      <mat-icon>sentiment_satisfied</mat-icon>
      <span>Testimonials</span>
    </button>
    <button mat-menu-item class="menu-button" [routerLink]="['/admin/ads']" routerLinkActive="active-link">
      <mat-icon>desktop_mac
      </mat-icon>
      <span>Ads</span>
    </button> -->
    <button mat-menu-item class="menu-button" *ngIf="isAdminAuthenticated" (click)="onLogout('admin')">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-toolbar>
</div>