<app-header></app-header>
<div class="page">
  <div class="banner">
    <div class="container-fluid">
      <div class="col-12 offset-0 col-sm-12 offset-sm-0 col-lg-6 offset-lg-3">
        <h2>Terms Of Service</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid policy-container">
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-10 offset-lg-1 title">
        <h3>Terms of Service and Usage</h3>
      </div>
      <div class="col-12 offset-0 col-sm-12 offset-sm-0 col-lg-10 offset-lg-1 content-container">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-1 icon-container"><mat-icon>star</mat-icon></div>
              <div class="col-11 heading-container">
                <h3>Acceptance of Terms</h3>
                <p>By accessing or using the Schoolzen Application, you agree to comply with these Terms of Service. Schoolzen may update these terms periodically, and any changes will be effective immediately upon posting. Continued use of the application indicates your acceptance of the updated terms.</p>
              </div>
            </div>


            <div class="row">
              <div class="col-1 icon-container"><mat-icon>star</mat-icon></div>
              <div class="col-11 heading-container">
                <h3>User Responsibilities</h3>
                <p>As a user of the Schoolzen Application, you are responsible for maintaining the confidentiality of your account credentials and for any activities that occur under your account. You agree to provide accurate, current, and complete information during registration and to keep this information updated.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-1 icon-container"><mat-icon>star</mat-icon></div>
              <div class="col-11 heading-container">
                <h3>License to Use Content</h3>
                <p>By submitting any content (such as text, images, or data) to the Schoolzen Application, you affirm that you have the necessary rights and permissions to do so. You grant Schoolzen a non-exclusive, royalty-free, worldwide license to use, display, and distribute the content within the scope of providing the services.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-1 icon-container"><mat-icon>star</mat-icon></div>
              <div class="col-11 heading-container">
                <h3>Notifications and Alerts</h3>
                <p>By enabling notifications and location services on your device, you consent to receive alerts, updates, and promotional messages from Schoolzen. These communications are intended to enhance your experience with the application and keep you informed about relevant updates and features.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-1 icon-container"><mat-icon>star</mat-icon></div>
              <div class="col-11 heading-container">
                <h3>Availability and Access</h3>
                <p>Schoolzen strives to ensure the application and its services are available at all times but does not guarantee uninterrupted access. Services may be temporarily suspended or restricted for maintenance, updates, or other reasons. Schoolzen will attempt to restore access promptly.</p>
              </div>
            </div>


            <div class="row">
              <div class="col-1 icon-container"><mat-icon>star</mat-icon></div>
              <div class="col-11 heading-container">
                <h3>Advertisements</h3>
                <p>Schoolzen reserves the right to display advertisements within the application at any time. These advertisements may be targeted based on your usage of the application. By using the Schoolzen Application, you consent to the display of such advertisements.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-1 icon-container"><mat-icon>star</mat-icon></div>
              <div class="col-11 heading-container">
                <h3>Limitation of Liability</h3>
                <p>The Schoolzen Application and its services are provided "as is" without warranties of any kind, either express or implied. Schoolzen is not liable for any direct, indirect, incidental, consequential, or punitive damages arising from your use of the application, including any errors or interruptions in service.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-1 icon-container"><mat-icon>star</mat-icon></div>
              <div class="col-11 heading-container">
                <h3>Intellectual Property</h3>
                <p>All content, including but not limited to text, graphics, logos, and software, on the Schoolzen Application is the property of Schoolzen Technologies Private Limited and is protected by copyright, trademark, and other intellectual property laws. Unauthorized use of this content is prohibited.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-1 icon-container"><mat-icon>star</mat-icon></div>
              <div class="col-11 heading-container">
                <h3>Privacy Policy</h3>
                <p>Your use of the Schoolzen Application is subject to our Privacy Policy, which outlines how we collect, use, and protect your personal information. By using the application, you consent to the practices described in the Privacy Policy. We may update the Privacy Policy periodically.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-1 icon-container"><mat-icon>star</mat-icon></div>
              <div class="col-11 heading-container">
                <h3>Suspension and Termination</h3>
                <p>Schoolzen reserves the right to suspend or terminate your access to the application and its services if you violate these Terms of Service. In such cases, Schoolzen may also pursue legal action to protect its rights and interests.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>