<mat-toolbar class="side-navbar">
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/dashboard']" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact:true}">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard </span>
      </button>
    </li>
    <li class="nav-item"> 
      <button mat-button class="menu-button" [routerLink]="['/admin/school/detail']" routerLinkActive="active-link">
        <mat-icon>account_balance</mat-icon>
        <span>School Profile</span>
      </button>
    </li> 
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/admission']" routerLinkActive="active-link">
        <mat-icon>dialpad</mat-icon>
        <span>Admission</span>
      </button>
    </li> 
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/student']" routerLinkActive="active-link">
        <mat-icon>person_add</mat-icon>
        <span>Student</span>
      </button>
    </li>
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/fees']" routerLinkActive="active-link">
        <mat-icon>currency_rupee</mat-icon>
        <span>Fees</span>
      </button>
    </li>
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/id-card']" routerLinkActive="active-link">
        <mat-icon>book</mat-icon>
        <span>Id Card</span>
      </button>
    </li>
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/admit-card']" routerLinkActive="active-link">
        <mat-icon>assignment</mat-icon>
        <span>Admit Card</span>
      </button>
    </li>
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/marksheet']" routerLinkActive="active-link">
        <mat-icon>content_paste_search</mat-icon>
        <span>Marksheet</span>
      </button>
    </li>
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/promote-fail']" routerLinkActive="active-link">
        <mat-icon>person_add</mat-icon>
        <span>Class Promote</span>
      </button>
    </li>
    <li class="nav-item">
      <button mat-button class="menu-button" routerLink="/admin/transfer-certificate" routerLinkActive="active-link">
        <mat-icon>workspace_premium</mat-icon>
        <span>Transfer Certificate</span>
      </button>
    </li>
    <!-- <li class="nav-item">
      <button mat-button class="menu-button" routerLinkActive="active-link">
        <i class="bi bi-whatsapp" style="margin-left: 2px;"></i>
        <span style="margin-left: 12px;">Whatsapp Message</span>
      </button>
    </li> -->
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/teacher']" routerLinkActive="active-link">
        <mat-icon>manage_accounts</mat-icon>
        <span>Teacher</span>
      </button>
    </li> 
    <!-- <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/class']" routerLinkActive="active-link">
        <mat-icon>note_add</mat-icon>
        <span>Classes</span>
      </button>
    </li> -->
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/subject']" routerLinkActive="active-link">
        <mat-icon>menu_book</mat-icon>
        <span>Subject</span>
      </button>
    </li>
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/class-subject']" routerLinkActive="active-link">
        <mat-icon>local_library</mat-icon>
        <span>Class With Subjects</span>
      </button>
    </li>
    <!-- <li class="nav-item">
      <button mat-button class="menu-button" routerLinkActive="active-link">
        <i class="bi bi-whatsapp"></i>
        <span>Whatsapp Messaging</span>
      </button>
    </li> -->
    <!-- <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/banner']" routerLinkActive="active-link">
        <mat-icon>wallpaper</mat-icon>
        <span>Banners</span>
      </button>
    </li>
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/topper']" routerLinkActive="active-link">
        <mat-icon>school</mat-icon>
        <span>Toppers</span>
      </button>
    </li>
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/testimonial']" routerLinkActive="active-link">
        <mat-icon>sentiment_satisfied</mat-icon>
        <span>Testimonials</span>
      </button>
    </li>
    <li class="nav-item">
      <button mat-button class="menu-button" [routerLink]="['/admin/ads']" routerLinkActive="active-link">
        <mat-icon>desktop_mac
        </mat-icon>
        <span>Ads</span>
      </button>
    </li> -->
  </ul>
</mat-toolbar>