@import'../dashboard/dashboard.component.css';
.sign-table{
    border: 1px solid transparent;
   }
   .custom-modal .modal-dialog {
    margin-top: 200px;
  }
  
  .print-model-body {
    max-height: calc(0vh - 2.3 * 3.5rem);
    overflow-x: hidden;
    overflow-y: hidden;
  }