.banner h3 span {
    /* font-family:sofia-pro,Roboto,Arial,sans-serif */
    font-family: 'Roboto Slab', serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
/* font-family: 'Noto Sans', sans-serif !important; */
    font-family: 'Poppins', sans-serif !important;
}

.banner h2 {
    font-family: 'Rubik', sans-serif !important;
}

.font-akzidenz-grotesk {
    font-family: Akzidenz-Grotesk Std !important;
}

.source-code-pro {
    font-family: Source Code Pro !important;
}

.font-rubik {
    font-family: 'Rubik', sans-serif !important;
}

.font-gilroy-bold {
    font-family: 'gilroy-bold' !important;
}

.font-slab {
    font-family: 'Roboto Slab', serif !important;
}

.font-gordita {
    font-family: 'gordita' !important;
}

.font-recoleta {
    font-family: 'Recoleta' !important;
}
