<app-header></app-header>
<div class="page">
    <div class="banner">
        <div class="container-fluid">
            <div class="col-12 offset-0 col-sm-6 offset-sm-3 col-lg-6 offset-lg-3">
                <h2>Features</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid policy-container">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-lg-10 offset-lg-1 title">
                <h3>Features to Meet School Needs</h3>
                <p style="text-align: center;">Perfect features designed to fulfill every critical school management
                    need, at the lowest price.</p>
            </div>

            <div class="col-12 col-sm-12 col-lg-10 offset-lg-1 service-card-container mt-5">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4 offset-lg-0">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-sm-2 col-lg-2"><img
                                        src="https://res.cloudinary.com/dzzrracge/image/upload/v1733650017/student_eqtfos.png"
                                        alt="">
                                </div>
                                <div class="col-11 col-sm-10 col-lg-10">
                                    <h3>Student Management</h3>
                                </div>
                            </div>
                            <p>Effortlessly manage student records, profiles, and data — all in one organised place.</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 offset-lg-0">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-sm-2 col-lg-2"><img
                                        src="https://res.cloudinary.com/dzzrracge/image/upload/v1733649886/admission_ag0g0a.png"
                                        alt="">
                                </div>
                                <div class="col-11 col-sm-10 col-lg-10">
                                    <h3>Admission Management</h3>
                                </div>
                            </div>
                            <p>Simplify and accelerate your entire admission process with a smart, hassle-free tool.</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 offset-lg-0">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-sm-2 col-lg-2"><img
                                        src="https://res.cloudinary.com/dzzrracge/image/upload/v1733649963/fees_llshuv.png"
                                        alt="">
                                </div>
                                <div class="col-11 col-sm-10 col-lg-10">
                                    <h3>Fees Management</h3>
                                </div>
                            </div>
                            <p>Track, manage, and collect fees seamlessly with our reliable and transparent module.</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 offset-lg-0">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-sm-2 col-lg-2"><img
                                        src="https://res.cloudinary.com/dzzrracge/image/upload/v1733649906/admit-card_qpoz3e.png"
                                        alt="">
                                </div>
                                <div class="col-11 col-sm-10 col-lg-10">
                                    <h3>Admit Card Management</h3>
                                </div>
                            </div>
                            <p>Generate and distribute admit cards instantly with just a few clicks.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 offset-lg-0">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-sm-2 col-lg-2"><img
                                        src="https://res.cloudinary.com/dzzrracge/image/upload/v1733649981/marksheet_d60trz.png"
                                        alt="">
                                </div>
                                <div class="col-11 col-sm-10 col-lg-10">
                                    <h3>Marksheet Management</h3>
                                </div>
                            </div>
                            <p>Create and manage marksheets accurately and efficiently — ready in seconds.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 offset-lg-0">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-sm-2 col-lg-2"><img
                                        src="https://res.cloudinary.com/dzzrracge/image/upload/v1733650028/tc_eo3xcv.png"
                                        alt="">
                                </div>
                                <div class="col-11 col-sm-10 col-lg-10">
                                    <h3>Transfer Certificate Management</h3>
                                </div>
                            </div>
                            <p>Issue and manage transfer certificates quickly, accurately, and without the paperwork hassle.</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 offset-lg-0">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-sm-2 col-lg-2"><img
                                        src="https://res.cloudinary.com/dzzrracge/image/upload/v1733649919/book_numrf9.png"
                                        alt="">
                                </div>
                                <div class="col-11 col-sm-10 col-lg-10">
                                    <h3>Subject Management</h3>
                                </div>
                            </div>
                            <p>Organise and plan subjects effortlessly with a clear and structured management module.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 offset-lg-0">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-sm-2 col-lg-2"><img
                                        src="https://res.cloudinary.com/dzzrracge/image/upload/v1733649945/books-group_wuptvt.png"
                                        alt="">
                                </div>
                                <div class="col-11 col-sm-10 col-lg-10">
                                    <h3>Class Subject Management</h3>
                                </div>
                            </div>
                            <p>Assign and manage class-wise subject groups with ease and complete clarity.</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 offset-lg-0">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-sm-2 col-lg-2"><img
                                        src="https://res.cloudinary.com/dzzrracge/image/upload/v1733650001/staff-access_ayhxi3.png"
                                        alt="">
                                </div>
                                <div class="col-11 col-sm-10 col-lg-10">
                                    <h3>Saff Access Management</h3>
                                </div>
                            </div>
                            <p>Control and manage staff permissions and application access securely and efficiently.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>